div, body {
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}


body {
   margin:0;
   padding:0;
   height: 100%;
   width: 100%;
   background: #fafac4;
}

.backdrop {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:10;
}

.backdrop .yearpos {
  width:100%;
  height: 8.219%;
  background: #444;
  position:absolute;

}

.toplayer {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:20;
}

.yearview, .monthview, .weekview {
   float: left;
}

.yearview {
   width: 20%;
   height: 100%;
}


.yearview .day {
   width: 50%;
   height: 0.273%;
}

.yearview .onmonth {
   border-left:1px solid #f00;
}

.yearview .month {
    padding:0;
    margin:0;
    text-align: right;
    position: relative;
}
.yearview .month .monthlabel {
    position: absolute;
    top:0;
    right:0;
}
.yearview .month.odd {
    background: #444;
}

.day.mon { background: #abc; }
.day.tue { background: #bcd; }
.day.wed { background: #cde; }
.day.thu { background: #def; }
.day.fri { background: #fed; }
.day.sat { background: #edc; }
.day.sun { background: #bcd; }

.monthview {
   width: calc(40% - 1px);
   height: 100%;
   background:#d4d4d4;
   border-left: 1px solid #000;
   overflow: auto;
}

.toplayer .month {
  border-left: 1px solid #000;
}

.monthview .monthbar {
  width: 10%;
  float:left;
}

.monthbar .month-label {
  width: 100%;
  height: 100%;

}

.monthview .days {
  width: 90%;
  float:left;
  overflow:hidden;
}

.monthview .day {
   height: calc(3.3333% - 1px);
   width: 100%;
   border-bottom: 1px solid #000;
}

.weekview {
   background: #efefef;
   width:calc(40% - 1px);
   height: 100%;
   border-left: 1px solid #000;
   overflow: auto;
}

.weekview .day {
   height: calc(14.285% - 1px);
   width: 100%;
   border-bottom: 1px solid #222;
}
