div, body {
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}


body {
   margin:0;
   padding:0;
   height: 100%;
   width: 100%;
   background: #fafac4;
}

.header {
    height: 60px;
    background: #ccc;
    padding: 1px 20px;
}
.header h2 {
    float: left;
}
.header button {
    float: right;
}

.toplayer {
  position: absolute;
  top:60px;
  left:0;
  right:0;
  bottom:0;
  z-index:20;
}

.toplayer .yearpos {
    width:20%;
    height: 8.219%;
    background: rgba(0, 0, 0, 0.33);;
    position:absolute;
    z-index: 100;
    opacity: 0.5;
    border: 2px solid #02f700;
}


.yearview, .monthview, .weekview {
   float: left;
}

.yearview {
   width: 20%;
   height: 100%;
   position: relative;
   overflow: hidden;
}

.yearview .day {
   width: 50%;
   height: 0.275%;
}

.yearview .onmonth {
   border-left:1px solid #f00;
}

.yearview .month {
    padding:0;
    margin:0;
    text-align: right;
    position: relative;
}
.yearview .month .month-label {
    position: absolute;
    top:0;
    right:0;
}
.yearview .month.odd {
    background: #5AB1BB;
}
.yearview .month.even {
    background: #A5C882;
}


.day.mon { background: #abc; }
.day.tue { background: #bcd; }
.day.wed { background: #cde; }
.day.thu { background: #def; }
.day.fri { background: #bddee4; }
.day.sat { background: #edc; }
.day.sun { background: #fed; }



.toplayer .month {
  border-left: 1px solid #000;
}



.monthbar .month-label {
  width: 100%;
  height: 100%;

}


/* monthview monthview monthview monthview */

.monthview {
   width: calc(40% - 1px);
   height: 100%;
   background:#d4d4d4;
   border-left: 1px solid rgba(0, 0, 0, 0.19);
   overflow: auto;
}

.monthview .month-label {
  width: 10%;
  height: 100%;
  float:left;
  padding: 5px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4e6766+0,98cec9+100 */
  background: #4e6766; /* Old browsers */
  background: -moz-linear-gradient(top,  #4e6766 0%, #98cec9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #4e6766 0%,#98cec9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #4e6766 0%,#98cec9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e6766', endColorstr='#98cec9',GradientType=0 ); /* IE6-9 */
}

.monthview .days {
  width: 90%;
  height: 100%;
  float:left;
  overflow:hidden;
}

.monthview .day {
   width: 100%;
   border-bottom: 1px solid rgba(0, 0, 0, 0.19);
   padding-left: 5px;
   font-size: 10px;
   position: relative;
}

.day .event {
    position:absolute;
    top:0;
    bottom:0;
    background: #ff6767;
    font-size: 8px;
    overflow: hidden;
}

.monthview .d28days .day {
    height: calc(3.5714% - 0px);
}
.monthview .d30days .day {
    height: calc(3.3333% - 0px);
}
.monthview .d31days .day {
    height: calc(3.2258% - 0px);
}

/* Weekview Weekview Weekview Weekview  */

.weekview {
   background: #efefef;
   width:calc(40% - 1px);
   height: 100%;
   border-left: 1px solid #000;
   overflow: scroll;
}

.weekview .day {
   height: 14.285%;
   width: 100%;
   border-bottom: 1px solid rgba(0, 0, 0, 0.19);
   padding: 5px;
}

.yearview .month.current-month,
.monthview .day.current-day {
    /*border: 1px solid #F00;*/
    background: #fd8c35;
}

.debug {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 300px;
    height: 200px;
    background: #eee;
}
